.navbar{
  border-radius: 0px;
  margin-bottom: 0px !important;
  width: 100%;
  padding-top: 0rem; padding-bottom: 0rem;
}

header {
  background: rgb(191, 209, 188);
}

body {
  background-color: rgb(218, 216, 216);
  padding-top: 90px;
  height: 100%;
  margin:0;
  min-height: 400px;
  margin-bottom: 30px;
  clear: both;
}

p{
  font-family:"Cormorant Garamond";
  text-indent: 30px;
}

h1{
  font-family:"Cormorant Garamond";
  font-weight: bold;
  color: white;  
}

h1.data{
  font-family:"Cormorant Garamond";
  font-weight: bold;
  color:black;  
}

h3.data{
  font-family:"Cormorant Garamond";
  font-weight: bold;
  color:black;  
}

h2{
  font-family:"Cormorant Garamond";
  font-weight: bold;
  color: white;  
}

h3{
  font-family:"Cormorant Garamond";
  font-weight: bold;
  font-size: 200%;
  color: white;  
}

h4{
  font-family:"Cormorant Garamond";
  font-weight: bold;
  font-size: 200%;
  color: white;  
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h-divider{
  height:1px;
  border-top:5px solid gray;
  background-color: white ;
  background: white ;
 }

p.a {
  margin-left: 75px;
  text-indent:0px;
}

img.linkedin-icon{
  width: 20%;
  height: 20%;
  max-width: 85px;
  }
  
  img.github-icon{
  width: 15%;
  height: 15%;
  max-width: 69px;
  }
  
  img.email-icon{
  width: 18%;
  height: 18%;
  max-width: 75px;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }
 
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-top: 25px;
}
  
.card-img-top {
  width: 100%;
  object-fit: cover;
}

.login { 
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:400px;
	height:400px;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.model {
  margin-left: 75px;
  text-indent:0px;  
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media(min-width: 480px) {
    .navbar-brand img {
      width: 30px;
      height: 30px;
    }
    h1 {font-size:1.5rem;} /*1rem = 16px*/
    h2 {font-size:1rem;} /*1rem = 16px*/
    h3 {font-size:.75rem;} /*1rem = 16px*/
    h4 {font-size:.75rem;} /*1rem = 16px*/    
}

@media(min-width: 768px) {
    .navbar-brand img {
      width: 40px;
      height: 40px;
    }
    h1 {font-size:2rem;} /*1rem = 16px*/
    h2 {font-size:1.5rem;} /*1rem = 16px*/
    h3 {font-size:1rem;} /*1rem = 16px*/
    h4 {font-size:1rem;} /*1rem = 16px*/ 
}

@media(min-width: 992px) {
    .navbar-brand img {
      width: 50px;
      height: 50px;
    }
    h1 {font-size:2.5rem;} /*1rem = 16px*/
    h2 {font-size:2rem;} /*1rem = 16px*/
    h3 {font-size:1.5rem;} /*1rem = 16px*/
    h4 {font-size:1rem;} /*1rem = 16px*/ 
  }

@media (min-width: 1200px) {
  .navbar-brand img {
    width: 60px;
    height: 60px;
  }
  h1 {font-size:3rem;} /*1rem = 16px*/
  h2 {font-size:2.5rem;} /*1rem = 16px*/
  h3 {font-size:2.0rem;} /*1rem = 16px*/
  h4 {font-size:1.5rem;} /*1rem = 16px*/ 
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 30px; /* Set the fixed height of the footer here */
  line-height: 25px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center
}


/* includes alternating gray and white with on-hover color */

.crime_data {
  font-size: 11pt; 
  font-family: Arial;
  border-collapse: collapse; 
  border: 1px solid silver;

}

.crime_data td, th {
  padding: 5px;
}

.crime_data tr:nth-child(even) {
  background: #E0E0E0;
}

.crime_data tr:hover {
  background: silver;
  cursor: pointer;
}
