<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">    
  <script src="js/jquery-3.4.1.slim.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://getbootstrap.com/docs/4.1/getting-started/javascript/#util"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css"> 
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="main">
        <a href="index.html" class="navbar-brand js-scroll-trigger">
          <img class="img-fluid" src="Images\logo2.png" width="100px" height="100px" alt="logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="plots.html" class="nav-link">Visualizations</a>
            </li>              
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" 
              href="crime_map.html">Crime Map</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" 
              href="predict.html">Prediction</a>
            </li>          
            <li class="nav-item">
              <a href="comparison_page.html" class="nav-link">ML Comparison</a>
            </li>
            <li class="nav-item">
              <a href="data_page.html" class="nav-link">Data</a>
            </li>            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="https://github.com/tedi529/Chicago-Crime">GitHub Repository</a>
                <a class="dropdown-item" href="APIs.html">APIs</a>
                <a class="dropdown-item" href="team.html">Meet the Team</a>
              </div>
            </li>
          </ul>
      </div>
    </nav> 
  </div>

  <div class="container-fluid gutter">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="data">Arrest Forecasting</h3>
      </div>
    </div>
        <!-- Main Input For Receiving Query to our ML -->
        <form class="form" action="{{ url_for('predict')}}" method="post">
          <div class="form-row">
            <div class="form-group col-sm-4">  
              <div class="form-row">
                <div class="form-group col-sm-12">
                  <input class="form-control" type="text" name="month" placeholder="Month" required="required" list="months" />
                  <datalist id="months">
                    <option value=1>January</option>
                    <option value=2>February</option>
                    <option value=3>March</option>
                    <option value=4>April</option>
                    <option value=5>May</option>
                    <option value=6>June</option>
                    <option value=7>July</option>
                    <option value=8>August</option>
                    <option value=9>September</option>
                    <option value=10>October</option>
                    <option value=11>November</option>
                    <option value=12>December</option>
                  </datalist>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-sm-12">     
                  <input class="form-control" type="text" name="hour" placeholder="Hour" required="required" list="hours" />
                  <datalist id="hours">
                    {%for i in range(1, 25) %}
                      <option value={{i}}>{{i}}</option>
                    {%endfor %}
                  </datalist>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-sm-12">            
                  <input class="form-control" type="text" name="day_of_week" placeholder="Day of the week" required="required" list="days" />
                  <datalist id="days">
                    <option value=0>Monday</option>
                    <option value=1>Tuesday</option>
                    <option value=2>Wednesday</option>
                    <option value=3>Thursday</option>
                    <option value=4>Friday</option>
                    <option value=5>Saturday</option>
                    <option value=6>Sunday</option>
                  </datalist>
                </div>
              </div>   
              <div class="form-row">
                <div class="form-group col-sm-12">                       
                  <input class="form-control" type="select" name="primary_type" placeholder="Type of crime" required="required" list="types"/>
                  <datalist id="types">
                    {%for key in typemap%}
                      <option value="{{typemap[key]}}">{{key}}</option>
                    {%endfor %}
                  </datalist>
                </div>
              </div>   
              <div class="form-row">
                <div class="form-group col-sm-12">                        
                  <input class="form-control" type="text" name="location_description" placeholder="Location" required="required" list="locations"/>
                  <datalist id="locations">
                    {%for key in locmap%}
                      <option value="{{locmap[key]}}">{{key}}</option>
                    {%endfor %}
                  </datalist>
                </div>
              </div>               
              <div class="form-row">
                <div class="form-group col-sm-12">  
                  <button type="submit" class="btn btn-primary">Predict Arrest or Not</button>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="h-divider"></div>
                <h5 class ="data">
                  <p class="m">MLP Classifier Model</p>
                  <p class="m">Multi-layer Perception (MLP) is a supervised machine learning algorithm that learns by training on a dataset. 
                  Given a set of features and a target, it learns to approximate a classification (outcome). It is different from logistic 
                  regression in that it has non-linear layers, called hidden layers. Each layer transforms the value from the previous layer 
                  with a weighted linear summation followed by a non-linear activation function. The output layer receives the values from the 
                  last hidden layer and transforms into the output values.</p>
                  <p class="m">Resources: <a href="https://scikit-learn.org/stable/modules/neural_networks_supervised.html">Supervised Neural Networks</a></p>
                </h5>
            </div>
          </div>
        </form>
        <hr>
          <h1 class="predict">{{ output }}</h1>
        <hr>
    </div>


  <footer class="footer navbar-fixed-bottom nav-text">
    <div class="container">
        <span class="text">Chicago Crime Analysis - UCF Data Analytics Bootcamp</span>
    </div>
  </footer>    

 
</body>
</html>